button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    top: 27rem;
    left: 50rem;
    z-index: 1;
    background: none;
    cursor: pointer;
  }